@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    font-family: "Cabin";
}
/* general padding & margins */
body {
    margin: 0;
}
.article-container, .skills-and-interests-container, .footer-container {
    padding: 2% 20% 2% 20%;
 }

 /* colors*/
.font-offwhite {
    color:#F5F7EC;
}
.font-darkblue {
    color:#3B5472;
}
.font-lightblue {
    color:#11ABB7;
}
.background-offwhite {
    background-color:#F5F7EC;
}
.background-darkblue {
    background-color: #3B5472;
}
.background-lightblue {
    background-color: #11ABB7;
}

/* Font styling */
h1 {
    font-size: 5rem;
    margin: 0;
}
h2 {
    font-size: 2rem;
    margin: 0;
}
h3 {
    font-size: 1.5rem;
}
p, li {
    font-size: 1.2rem;
}
a {
    font-size: 1.5rem;
    color:#F5F7EC;
}
label, input, textarea, select, button {
    font-size: 1.5rem;
}


/* === HEADER styling ===*/
.site-header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding: 2% 10% 2% 10%;
}

/* === NAV styling === */
 nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom:4px solid #F5F7EC;
 }

/* === ARTICLE styling === */

 .experience-head, .education-head {
   display:flex;
   align-items: baseline;
 }
 .experience-content, .education-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    padding-left: 24px;
    padding-right: 48px;
 }
 .grid-left {
    grid-column: 1;
 }
 .grid-right {
    grid-column: 2;
 }

/* === SKILLS & INTERESTS SECTION === */
.skills-head, .interests-head {
   display:flex;
   align-items:baseline;
   padding-top: 20px;
 }
.skills-content, .interests-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    padding-left: 10%;
}

/* === CONTACT/FOOTER === */

.contact-head {
    display:flex;
    align-items: baseline;
    padding-top: 20px;
  }
  .contact-content > div{
    display:flex;
    align-items: center;
    column-gap: 10px;
  }
  .contact-content img {
    margin: 24px;
  }
  .contact-content {
    margin: 5% 5% 5% 5%;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
  }
/* === FORM Styling === */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-container label {
    display:block;
    text-align: center;
    
}
.form-container input {
    width: 500px;
    height: 1.5rem;
}
.form-container select {
    width: 500px;
    height: 2rem;
}
.form-container textarea {
    height: 8rem;
    width: 800px
}
.form-container div {
    margin-bottom: 1rem;
}

/* image styling */
.article-container img, .skills-and-interests-container img, .footer-container img {
    width: 60px;
    height: 60px;
}
.header-image img {
    max-width: 400px;
}
.article-container img, .skills-and-interests-container img, .contact-head img {
    position:relative;
    right: 10px;
    top: 20px;
 }
/* Horizontal and vertical line styling */
hr {
    border-top: 4px solid;
    width: 90%;
}
.full-width {
    width: 100%;
 }
.vl {
    border-left: 4px solid #3B5472;
}
/* ================ MEDIA QUERIES ================ */

/* LAPTOP VIEW */
@media only screen and (max-width: 1600px)
{
    /* contact section */
    .contact-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .contact-content img {
        margin: 12px;
      }
      hr {
        width: 85%;
     }

}

/* TABLET VIEW*/
@media only screen and (max-width: 1350px){
    /* font */
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
    p, li {
        font-size: 0.8rem;
    }
    a {
        font-size: 1rem;
    }
    label, input, textarea, select, button {
        font-size: 1rem;
    }
    /* misc changes */
    .contact-content {
        padding: 0%;
      }
      hr {
        width: 90%;
     }
    /* images */
    .article-container img, .skills-and-interests-container img, .footer-container img {
        width: 40px;
        height: 40px;
    }
    .header-image img {
        max-width: 200px;
    }
    
     .article-container img, .skills-and-interests-container img {
        position:relative;
        right: 10px;
        top: 20px;
     }
    /* form */
    .form-container input {
        width: 300px;
        height: 1rem;
    }
    .form-container select {
        width: 300px;
        height: 1.5rem;
    }
    .form-container textarea {
        height: 5rem;
        width: 500px
    }

} 

/* LARGE MOBILE VIEW */
@media only screen and (max-width: 750px) {
    /* font */
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    p, li {
        font-size: 0.8rem;
    }
    a {
        font-size: 1rem;
    }
    label, input, textarea, select, button {
        font-size: 1rem;
    }
    /* general padding/margins */
    .article-container, .skills-and-interests-container, .footer-container {
        padding: 2% 5% 2% 5%;
     }
    /* header */
    .site-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 40px;
        padding: 5% 5% 0% 5%;
    }
    /* article */
    .experience-content, .education-content {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 0px;
    }
    hr {
        width: 90%;
     }
     /* images */
    .article-container img, .skills-and-interests-container img, .footer-container img {
        width: 30px;
        height: 30px;
    }
    /* skills & interests */
    .skills-content, .interests-content {
        column-gap: 1rem;
        padding-left: 0%;
    }
    /* contact section */
    .contact-content {
        display: flex;
        flex-direction: column;
    }
    /* form */
    .form-container input {
        width: 200px;
        height: 1rem;
    }
    .form-container select {
        width: 200px;
        height: 1.5rem;
    }
    .form-container textarea {
        height: 5rem;
        width: 250px
    }
}
/* SMALL MOBILE VIEW */
@media only screen and (max-width: 550px) {
    hr {
        width: 85%;
    }
}