@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    font-family: "Cabin";
}

body {
    margin: 0;
}
/* div colors*/
.offwhite {
    background-color: #F5F7EC ;
}
.darkblue {
    background-color: #3B5472;
}
.lightblue {
    background-color: #11ABB7;
}

/* Font styling */
h1 {
    font-size: 5rem;
    margin: 0;
}
h2 {
    font-size: 2rem;
    margin: 0;
}
h3 {
    font-size: 1.5rem;
}

hr {
    color:#F5F7EC
}
/* header styling */
.site-header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    color:#F5F7EC;
    padding: 5%;
}

.header-image img {
    max-width: 400px;
}